# stage → 단계
stages:
  - dockerbuild-push

package:
  image: docker:latest     #도커 위에서 빌드를 한다
  stage: dockerbuild-push
  services:
    - docker:dind          #도커 안에서 도커를 빌드할 때 주는 옵션
  before_script:
    - docker login registry.gitlab.com -u $GITLAB_ID -p $GITLAB_PASSWORD
  script:
    - docker build -t registry.gitlab.com/$GITLAB_ID/$PROJECT_NAME .
    - docker push registry.gitlab.com/$GITLAB_ID/$PROJECT_NAME
  after_script:
    - docker logout