stages:
  - dockerbuild-push

package:
  image: docker:latest     #도커 위에서 빌드를 한다
  stage: dockerbuild-push
  services:
    - docker:dind          #도커 안에서 도커를 빌드할 때 주는 옵션
  before_script:
    - docker login registry.gitlab.com -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - export IMG_TAG=${CI_REGISTRY_IMAGE}:latest
    - docker build -t $IMG_TAG --build-arg PROJECT_NAME=$CI_PROJECT_NAME .
    - docker push $IMG_TAG
  after_script:
    - docker logout