spring:
  #swagger
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  #jpa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true  #sql format 적용
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: localhost
    username: root
    password: 1q2w3e4r

#Encoding
server:
  servlet:
    encoding:
      force-response: true

#JWT token
jwt:
  token:
    secret: key